.welcome{
    position: absolute;
    top: 50%;
    width: 10em;
    background-color: red;
    text-align: center;
    padding: 2em;
    transform: translate(-50%,-50%);
}

.about{
    position: absolute;
    top: 50%;
    transform: translate(25%,-50%);
    left: 25%;
}

.content{
    height: 100vh;
    top:0;
    left:0;
    position: fixed;
}