@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.base{
    min-width: 100vw;
    min-height: 100vh;
    padding: 0em 2.5em;

}

.photo{
    margin-top: 80vh;

    background-color: blue;
}
.projects{
    background-color: red;
}
.contact{

    background-color: green;
}
