@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.photo{
    margin-top: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    background-color: blue;
}
.projects{
    min-width: 100vw;
    min-height: 100vh;
    background-color: red;
}
.contact{
    min-width: 100vw;
    min-height: 100vh;
    background-color: green;
}